<h1>Graphics Example</h1>
{{#paper-button raised=true primary=true onClick=(action 'start')}}Start{{/paper-button}}
{{#paper-button raised=true primary=true onClick=(action 'test')}}Test{{/paper-button}}
<div id="graphContainer" style="width: 100%; height: 360px; border: 1px solid black; position: relative">
<!--
  <div id="one" style="left: 731px; top: 118px; width: 30px; height: 30px; border-radius: 15px; background-color: rgba(90, 255, 95, 0.5); position: absolute;"></div>
  <div id="two" style="left: 210px; top: 244px; width: 35px; height: 35px; border-radius: 17.5px; background-color: rgba(200, 41, 199, 0.5); position: absolute;"></div>
  <div id="three" style="left: 334px; top: 100px; width: 40px; height: 40px; border-radius: 20px; background-color: rgba(250, 50, 10, 0.4); position: absolute;"></div>
-->
</div>
<div class="pies"></div>
