Counter: {{sec}}:{{ms}} sec Top: {{top}}  Left:{{left}} {{#paper-button raised=true primary=true onClick=(action 'start')}}Start{{/paper-button}}
{{#paper-button raised=true primary=true onClick=(action 'stop')}}Stop{{/paper-button}}
{{#paper-button raised=true primary=true onClick=(action 'reset')}}Reset{{/paper-button}}
<div id="graphContainer" style="width: 1600px; height: 700px; border: 1px solid black; position: relative">
</div>